<!DOCTYPE html>
<html>
<head>
	<title>Login App</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<a href="/">Dashboard</a>
<a href="/users/login">Login</a>
<a href="/users/register">Register</a>
<a href="/users/logout">Logout</a>

<br/>
<hr>
{{#if success_msg}}
	<p style="background: #2ecc71">{{success_msg}}</p>
{{/if}}

{{#if error_msg}}
	<p style="background: #e74c3c">{{error_msg}}</p>
{{/if}}

{{#if error}}
	<p style="background: #e74c3c">{{error}}</p>
{{/if}}

{{{body}}}
<hr />
<p style="position:absolute;bottom:40px;">Footer</p>
</body>
</html>