<!DOCTYPE html>
<html>
<head>
	<title>Login App</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<a href="/">Dashboard</a>
<a href="/users/login">Login</a>
<a href="/users/register">Register</a>
<a href="/users/logout">Logout</a>

<br/>
<hr>
{{{body}}}
<hr />
<p style="position:absolute;bottom:40px;">Footer</p>
</body>
</html>