<h2 style="text-align:center">Login to the App </h2>
<form method="post" action="/users/login"
style="margin-left:42%">
	<input placeholder="Username" name="username" />
	<br/>
	<br/>
	<input placeholder="Password" name="password"/>
	<br/>
	<br/>
	<input type="submit" style="margin-left: 8.5%"/>
</form>