<h2 style="text-align:center">Register for the App</hr>
<br/>
{{#if errors}}
	{{#each errors}}
		<p style="background-color:#e74c3c;color:white;font-size:16px;display:inline-block;width:200px">{{msg}}</p>
		<br/>
	{{/each}}
{{/if}}

<br/>
<form method="post" action="/users/register">
	<input placeholder="Name" name="name" />
	<br/>
	<br/>
	<input placeholder="Username" name="username" />
	<br/>
	<br/>
	<input placeholder="Email" name="email" />
	<br/>
	<br/>
	<input placeholder="Password" name="password"/>
	<br/>
	<br/>
	<input placeholder="Confirm password" name="password2" />
	<br/>
	<br/>
	<input type="submit" style="margin-left: 8.5%"/>
</form>